<body>
    <div class="wrapper">
        <div class="container">
            <div class="top-header">
                <div class="left">
                    <a>About Us</a>
                    <a>Delivery Info</a>
                    <a>Contact Us</a>
                    <a>09361180320</a>
                </div>
                <div class="right">
                    <a>⭐⭐⭐⭐⭐ 4.5 Average 155 Reviews</a>
                    <a>🛒</a>
                </div>
            </div>
            <div class="bottom-header">
                <div class="left">
                    <img src="../../../assets/logo/tfs_logo.png" height="50px"/>
                </div>
                <ul>
                    <li>Flowers & Plants</li>
                    <li>Special Offers</li>
                    <li>Same Day</li>
                    <li>Birthday</li>
                    <li>Best Sellers</li>
                    <li>Budget</li>
                    <li>All Flowers</li>
                </ul>
            </div>
        </div>
    </div>
</body>