<body>
    <div class="wrapper">
        <div class="container">
            <div class="title">
                <div class="line-through"></div>
                <h1>Things Our Customer Say</h1>
                <div class="line-through"></div>
            </div>
            <div class="content">
                <div class="reviews">
                    <div class="header">
                        <p>Dominic Vega ⭐⭐⭐⭐⭐</p>
                        <span>5 Reviews . 1 photo</span>
                    </div>
                    <div class="body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.</p>
                    </div>
                    <div class="footer">
                        <p>April 2024</p>
                    </div>
                </div>
                <div class="reviews">
                    <div class="header">
                        <p>Dominic Vega ⭐⭐⭐⭐⭐</p>
                        <span>5 Reviews . 1 photo</span>
                    </div>
                    <div class="body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                            type specimen
                            book.</p>
                    </div>
                    <div class="footer">
                        <p>April 2024</p>
                    </div>
                </div>
                <div class="reviews">
                    <div class="header">
                        <p>Dominic Vega ⭐⭐⭐⭐⭐</p>
                        <span>5 Reviews . 1 photo</span>
                    </div>
                    <div class="body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                            type specimen
                            book.</p>
                    </div>
                    <div class="footer">
                        <p>April 2024</p>
                    </div>
                </div>
                <div class="reviews">
                    <div class="header">
                        <p>Dominic Vega ⭐⭐⭐⭐⭐</p>
                        <span>5 Reviews . 1 photo</span>
                    </div>
                    <div class="body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                            type specimen
                            book.</p>
                    </div>
                    <div class="footer">
                        <p>April 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>