<body>
    <div class="wrapper">
        <div class="container">
            <div class="title">
                <div class="line-through"></div>
                <h1>Flower Shops Network by Occasion</h1>
                <div class="line-through"></div>
            </div>
            <div class="content">
                <p>Send a friend, a loved one or a family member a beautiful bunch of flowers from our collection. We have a gorgeous range
                of floral arrangements to say congratulations, to send someone anniversary or birthday wishes. We have hot pink blooms
                for your best friend and bright white lilies to welcome your loved ones to their new home. Whatever the occasion,
                whether it is Valentine’s or Mother’s Day, Christmas or Easter, we will get it right and on time. Order online today
                before 2PM and enjoy same day delivery from one of our local florists.</p>
            </div>
            <div class="occasions">
                <div class="image">
                    <img src="../../../assets/images/occasion1.png" alt="occasion_image"/>
                    <span>Same Day</span>
                </div>
                <div class="image">
                    <img src="../../../assets/images/occasion2.png" alt="occasion_image" />
                    <span>Birthday</span>
                </div>
                <div class="image">
                    <img src="../../../assets/images/occasion3.jpg" alt="occasion_image" />
                    <span>Anniversary</span>
                </div>
                <div class="image">
                    <img src="../../../assets/images/occasion4.png" alt="occasion_image" />
                    <span>Congratulations</span>
                </div>
                <div class="image">
                    <img src="../../../assets/images/occasion5.png" alt="occasion_image" />
                    <span>Thank you</span>
                </div>
            </div>
        </div>
    </div>
</body>