<div class="wrapper">
    <div class="header">
        <h3 class="title">Dominic Anuta Vega</h3>
        <p class="email">doms12.vegs&#64;gmail.com</p>
    </div>
    <div class="content">
        <mat-nav-list>
            <span>HOME</span>
            <mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <mat-icon matListItemIcon [style.color]="'#FFFFFF'">dashboard</mat-icon>
                    <a matListItemTitle>Dashboard</a>
            </mat-list-item>
            <span>SALES</span>
            <mat-list-item routerLink="/orders" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListItemIcon [style.color]="'#FFFFFF'">shopping_cart</mat-icon>
                <a matListItemTitle>Orders</a>
            </mat-list-item>
            <span>SITE</span>
            <mat-list-item routerLink="/pages/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListItemIcon [style.color]="'#FFFFFF'">store</mat-icon>
                <a matListItemTitle>Pages</a>
            </mat-list-item>
            <mat-list-item routerLink="/site" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListItemIcon [style.color]="'#FFFFFF'">store</mat-icon>
                <a matListItemTitle>Sections</a>
            </mat-list-item>
            <mat-list-item routerLink="/site" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListItemIcon [style.color]="'#FFFFFF'">store</mat-icon>
                <a matListItemTitle>Catalogs</a>
            </mat-list-item>
            <mat-list-item routerLink="/site" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListItemIcon [style.color]="'#FFFFFF'">store</mat-icon>
                <a matListItemTitle>Integrations</a>
            </mat-list-item>
            <span>INVENTORY</span>
            <mat-list-item routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListItemIcon [style.color]="'#FFFFFF'">shopping_basket</mat-icon>
                <a matListItemTitle>Products</a>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>