<body>
    <div class="wrapper">
        <div class="container">
            <div class="title">
                <div class="line-through"></div>
                <h1>LOCAL BEST SELLERS</h1>
                <div class="line-through"></div>
            </div>
            <div class="products">
                <div class="product">
                    <img src="../../../assets/images/flower1.jpg">
                    <div class="available">
                        <p>Available Today, </p><span> 24 Apr</span>
                    </div>
                    <div class="flower-title">
                        <p>Pastel Giftbox</p>
                    </div>
                    <div class="price">
                        <p class="p-style1">£49.99</p>
                        <p class="p-style2">£45.99</p>
                    </div>
                    <div class="sale">
                        <div class="sale-content">
                            <p>Sale</p>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img src="../../../assets/images/flower2.jpg">
                    <div class="available">
                        <p>Available Today, </p><span> 24 Apr</span>
                    </div>
                    <div class="flower-title">
                        <p>Jewel Gift Box</p>
                    </div>
                    <div class="price">
                        <p class="p-style1">£49.99</p>
                        <p class="p-style2">£45.99</p>
                    </div>
                    <div class="sale">
                        <div class="sale-content">
                            <p>Sale</p>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img src="../../../assets/images/flower3.jpg">
                    <div class="available">
                        <p>Available Today, </p><span> 24 Apr</span>
                    </div>
                    <div class="flower-title">
                        <p>Sunshine Giftbox</p>
                    </div>
                    <div class="price">
                        <p class="p-style1">£49.99</p>
                        <p class="p-style2">£45.99</p>
                    </div>
                    <div class="sale">
                        <div class="sale-content">
                            <p>Sale</p>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img src="../../../assets/images/flower4.jpg">
                    <div class="available">
                        <p>Available Today, </p><span> 24 Apr</span>
                    </div>
                    <div class="flower-title">
                        <p>Blazing Beauty</p>
                    </div>
                    <div class="price">
                        <p class="p-style1">£49.99</p>
                        <p class="p-style2">£45.99</p>
                    </div>
                    <div class="sale">
                        <div class="sale-content">
                            <p>Sale</p>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img src="../../../assets/images/flower1.jpg">
                    <div class="available">
                        <p>Available Today, </p><span> 24 Apr</span>
                    </div>
                    <div class="flower-title">
                        <p>Pastel Giftbox</p>
                    </div>
                    <div class="price">
                        <p class="p-style1">£49.99</p>
                        <p class="p-style2">£45.99</p>
                    </div>
                    <div class="sale">
                        <div class="sale-content">
                            <p>Sale</p>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img src="../../../assets/images/flower2.jpg">
                    <div class="available">
                        <p>Available Today, </p><span> 24 Apr</span>
                    </div>
                    <div class="flower-title">
                        <p>Jewel Gift Box</p>
                    </div>
                    <div class="price">
                        <p class="p-style1">£49.99</p>
                        <p class="p-style2">£45.99</p>
                    </div>
                    <div class="sale">
                        <div class="sale-content">
                            <p>Sale</p>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img src="../../../assets/images/flower3.jpg">
                    <div class="available">
                        <p>Available Today, </p><span> 24 Apr</span>
                    </div>
                    <div class="flower-title">
                        <p>Sunshine Giftbox</p>
                    </div>
                    <div class="price">
                        <p class="p-style1">£49.99</p>
                        <p class="p-style2">£45.99</p>
                    </div>
                    <div class="sale">
                        <div class="sale-content">
                            <p>Sale</p>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <img src="../../../assets/images/flower4.jpg">
                    <div class="available">
                        <p>Available Today, </p><span> 24 Apr</span>
                    </div>
                    <div class="flower-title">
                        <p>Blazing Beauty</p>
                    </div>
                    <div class="price">
                        <p class="p-style1">£49.99</p>
                        <p class="p-style2">£45.99</p>
                    </div>
                    <div class="sale">
                        <div class="sale-content">
                            <p>Sale</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
