<body>
    <div class="wrapper">
        <div class="footer">
            <div class="content">
                
                <ul>
                    <li><h1>Flower Services</h1></li>
                    <li>Birthday Flowers</li>
                    <li>Spring Flowers</li>
                    <li>Summer Flowers</li>
                    <li>Autumn Flowers</li>
                    <li>Winter Flowers</li>
                    <li>Christmas Flowers</li>
                    <li>Valentine's Day</li>
                    <li>Mother's Day</li>
                    <li>Plants</li>
                </ul>
            </div>
            <div class="content">
                <ul>
                    <li><h1>Helpful Links</h1></li>
                    <li>Flower Delivery</li>
                    <li>Care Tips</li>
                    <li>Contact Us</li>
                    <li>All Flowers</li>
                    <li>Magazine</li>
                </ul>
            </div>
            <div class="content">
                <ul>
                    <li><h1>About Us</h1></li>
                    <li>About Us</li>
                    <li>Terms and Conditions</li>
                    <li>Cookie Policy</li>
                    <li>Privacy Policy</li>
                    <li>Sitemap</li>
                </ul>
            </div>
            <div class="content-left">
                <div class="touch-content">
                    <ul>
                        <h1>Keep in touch</h1>
                        <li>FACEBOOK</li>
                        <li>INSTAGRAM</li>
                    </ul>
                </div>
                <div class="contact-content">
                    <ul>
                        <h1>Contact Us</h1>
                        <li>09361180320</li>
                        <li>davega12.dv&#64;gmail.com</li>
                        <li>Sto. Nino, Nahawan, Clarin, Bohol</li>
                        <li>Copyright &#64; 2024 My Beautiful Blooms</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
